<launch>
  <!-- launch rqt_gui with custom GUI's configurations -->
  <!-- rqt add two dashesperspective-file "$(rospack find my_ros_rqt_package)/config/my_dashboard.perspective" -->
  <node name = "rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" 
  args = "--perspective-file $(find lunabotics_rqt_23_UI)/perspectives/UI_1.0.perspective"/>
</launch>